extends templates/layout

block scripts
    include includes/scripts

block content
    h1 Override h1?
    - var kikou = "kikou var"
    #container
        p #{kikou}
        script.
            console.log("not interpolated")
            // won't work
            console.log("#{interpolated}")

        br
        p #{toto}
        br
        p #{locals['dist/main.css'].substring(5)}
        br
        p #{["dist/main.css"]}

        br
        p.
            All of this content was created using various preprocessors and
            compilers, as well as test tools and watchers, without using

block foot
    include includes/foot
    p another line here