doctype html
html(lang="eng")
    head
        title NPM Scripts Demo
        // prod version
        script(src=locals['dist/main.js'].substr(5))
        if compileDebug
            script(src="//localhost:9091/livereload.js")
        // locals refers to pug variables when compiling the template
         // gets hash from assets.json and trim path as main.css
        link(rel="stylesheet",href=locals['dist/main.css'].substring(5))
        // dev version
        //script(src="main.js")
        body
            - var kikou = "kikou var"
            h1 Hello world
            #container
                p #{kikou}
                script.
                    console.log("not interpolated")
                    // won't work
                    console.log("#{interpolated}")

                br
                p #{toto}
                br
                p #{locals['dist/main.css'].substring(5)}
                br
                p #{["dist/main.css"]}

                br
                p.
                    All of this content was created using various preprocessors and
                    compilers, as well as test tools and watchers, without using